*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# ignore target directory with binary files
target/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ config
.idea/*
*.iml

*.iws

/out/
/log/

#Files created on a debug run should not be added to the repo
RemoteSystemsTempFiles/
alica-plan-designer-fx-ui/log/
*.properties
alica-plan-designer-fx-default-plugin/src/main/xtend-gen/
*._trace
*.orig
