*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# ignore target directory with binary files
target/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ config
.idea/*
*.iml

*.iws

/out/
/log/


#Files created on a debug run should not be added to the repo
RemoteSystemsTempFiles/
alica-plan-designer-fx-ui/log/
*.properties
!pld_globals.properties
alica-plan-designer-fx-default-plugin/src/main/xtend-gen/
alica-plan-designer-fx-codegeneration/src/main/xtend-gen/
#de.uni-kassel.vs.cn.planDesigner.alica/
alica-plan-designer-fx-meta-model/bin/ 
*._trace
*.orig
bin/


# MACOS Stuff
.DS_STORE
log/


# not nessecary project files
.vscode
.project
.settings
alica-plan-designer-fx-codegeneration/.classpath
alica-plan-designer-fx-codegeneration/.factorypath
alica-plan-designer-fx-codegeneration/.project
alica-plan-designer-fx-codegeneration/.settings
alica-plan-designer-fx-controller/.classpath
alica-plan-designer-fx-controller/.factorypath
alica-plan-designer-fx-controller/.project
alica-plan-designer-fx-controller/.settings
alica-plan-designer-fx-model/.classpath
alica-plan-designer-fx-model/.factorypath
alica-plan-designer-fx-model/.project
alica-plan-designer-fx-model/.settings/
alica-plan-designer-fx-modelmanagement/.classpath
alica-plan-designer-fx-modelmanagement/.factorypath
alica-plan-designer-fx-modelmanagement/.project
alica-plan-designer-fx-modelmanagement/.settings/
alica-plan-designer-fx-view/.classpath
alica-plan-designer-fx-view/.project
alica-plan-designer-fx-view/.settings/

